@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
  font-family: 'Poor Story', cursive;
  font-weight: 500;
}

.react-flow__panel {
  right: 0.5rem !important;
  bottom: 1.2rem !important;
  background-color: transparent !important;
}

.react-flow__minimap {
  margin: 0 !important;
  margin-top: 0.2rem !important;
  right: 0 !important;
  height: max-content;
}

.react-flow__minimap > svg {
  width: 150px !important;
  height: 112.5px !important;
}
