@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
  font-family: 'Poor Story', sans-serif;
  font-weight: 500;
}

body {
  user-select: none;
}

.react-flow__panel {
  right: 0.5rem !important;
  bottom: 1.2rem !important;
  background-color: transparent !important;
}

.react-flow__minimap {
  margin: 0 !important;
  margin-top: 0.2rem !important;
  right: 0 !important;
  height: max-content;
}

.react-flow__minimap > svg {
  width: 150px !important;
  height: 112.5px !important;
}

.tutorial .react-flow__node:first-child {
  outline: 3px solid red;
}

.tutorial .react-flow__node:first-child::before {
  position: absolute;
  bottom: 5rem;
  left: -0.5rem;
  width: max-content;
  content: '더블클릭하여 노드를 재생할 수 있어요.';
  color: red;
}
